LOG_OUTPUT=console
LOG_LEVEL=info

DATABASE_URL=postgresql://...

CHAIN=ethereum

CONSENSUS_LOOKBACK_SLOT=12106048
CONSENSUS_ARCHIVE_API_URL=https://...quiknode.pro/
CONSENSUS_FULL_API_URL=https://ethereum-beacon-api.publicnode.com
CONSENSUS_API_REQUEST_PER_SECOND=20

EXECUTION_API_URL=https://eth.blockscout.com
EXECUTION_API_KEY=some_key
EXECUTION_API_BKP_URL=https://api.etherscan.io
EXECUTION_API_BKP_KEY=some_key
EXECUTION_API_REQUEST_PER_SECOND=3